#screen{
    width: 100%;
    height:200%;
    display: flex;
 }
 #column{
    width: 25%;
    height: 2000px;
    /* border: 2px solid red; */
    display: flex;
 }
 #column-2{
    width: 75%;
    height: 1500px;
    /* border: 2px solid green; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 100px;
 }
 .column-3{
    /* border: 2px solid red; */
    width: 30%;
    height: 400px;
    justify-content: space-evenly;
    justify-content: center;
 }
 #row{
    width: 20%;
    height: 2000px;
    /* border: 3px solid black; */
    display: flex;
    text-wrap: wrap;
 }
 .info-11{
    font-size: 18px;
    margin-top: 10px;
 }
 .info-22{
    font-size: 20px;
 }
.button-11{
    font-size: 18px;
    width: 50px;
    height: 40px;
    flex-wrap: wrap;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}
.button-22{
    border-radius: 30px;
    font-size: 18px;
    width: 50px;
    height: 40px;
    flex-wrap: wrap;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}
.mens-image{
    width: 100%;

}
.info-m{
    color: brown;
    font-size: 18px;
}
.info-n{
    color: lightgray;
}